.env
venv/
/venv
__pycache__
orders/
/orders
/orders/
conversations.json
test.py/
/test.py
/test.py/
test.pyc
*.pyc
*.ipynb
*.log
scripts/
/scripts
/scripts/
test/
/test
/test/
test/
voice_venv
.venv/
your_app.py
twilio_test.py
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
